.benefit__wifi, .benefit__city-center, .benefit__interactions, .benefit__meeting-room, .benefit__chill, .benefit__cancellation, .benefit__coffee, .benefit__copy, .benefit__access{
	background: url("images/icones-benefits.png") no-repeat;
}

.benefit__wifi{
	background-position: -6px 0;
	width: 31px;
	height: 40px;
}

.benefit__city-center{
	background-position: -8px -55px;
	width: 29px;
	height: 42px;
}

.benefit__interactions{
	background-position: 0 -116px ;
	width: 45px;
	height: 42px;
}

.benefit__meeting-room{
	background-position: -61px -4px ;
	width: 37px;
	height: 41px;
}

.benefit__chill{
	background-position: -56px -59px ;
	width: 37px;
	height: 33px;
}

.benefit__cancellation{
	background-position: -55px -111px ;
	width: 29px;
	height: 40px;
}

.benefit__coffee{
	background-position: -4px -169px ;
	width: 41px;
	height: 44px;
}

.benefit__copy{
	background-position: -51px -160px ;
	width: 39px;
	height: 44px;
}

.benefit__access{
	background-position: 0px -222px;
	width: 39px;
	height: 44px;
}
