<section id="bern" class="location location--bern">
  <div class="mosaic mosaic--responsive mosaic--fixed">
    <div class="mosaic__cell map map--location" data-lat="46.9486000" data-lng="7.4466500"></div>
    <div class="mosaic__cell box xs-pdg sm-pdg pdgh+ pdgv++">
      <h2 class="location__title">Bern</h2>
      <div class="grid grid--large grid--center">
        {% for package in site.data.packages.bern %}
          {% include location-package.html %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
