<section id="contact" class="contact box box--default pdgh0 pdgb++ xs-pdgb+">
  <div class="wrapper">
    <header>
      <h2>{{ t.menu.contact }}</h2>
    </header>

    <address class="mrgb">
      <div class="grid">
        <div class="grid__item md-w-1/2 lg-w-1/3">
          <h4>Lausanne</h4>
          <div class="grid">
            <div class="grid__item w-1/2">
              <a href="https://goo.gl/maps/veoEcZdXabP2" target="_blank">
                Rue Etraz 4<br />
                CH-1003 Lausanne<br />
              </a>
            </div>
            <div class="grid__item w-1/2">
              <a href="mailto:{{ site.email }}">{{ site.email }}</a><br />
              <a href="tel:{{ site.phone_ls }}">{{ site.phone_ls }}</a>
            </div>
          </div>
        </div>
        <div class="grid__item md-w-1/2 lg-w-1/3">
          <h4>Bern</h4>
          <div class="grid">
            <div class="grid__item w-1/2">
              <a href="https://goo.gl/maps/2VeSNzDgMNG2" target="_blank">
                Schmiedenplatz 5<br />
                CH-3011 Bern<br />
              </a>
            </div>
            <div class="grid__item w-1/2">
              <a href="mailto:{{ site.email }}">{{ site.email }}</a><br />
              <a href="tel:{{ site.phone_be }}">{{ site.phone_be }}</a>
            </div>
          </div>
        </div>
      </div>
    </address>
    <p class="contact__message error">{{ t.form.error }}</p>
    <p class="contact__message success">{{ t.form.success }}</p>
    <form name="contact">
      <div class="grid">
        <div class="grid__item sm-w-1/2 lg-w-1/3">
          <div class="form-group">
            <label for="name" class="field-label">{{ t.form.name }}</label>
            <input type="text" name="name" id="name" required>
          </div>
          <div class="form-group">
            <label for="corporate_name" class="field-label">{{ t.form.corporate_name }}</label>
            <input type="text" name="corporate_name" id="corporate_name" required>
          </div>
        </div>
        <div class="grid__item sm-w-1/2 lg-w-1/3 xs-mrgt">
          <div class="form-group">
            <label for="phone" class="field-label">{{ t.form.phone }}</label>
            <input type="tel" name="phone" id="phone" required>
          </div>
          <div class="form-group">
              <label for="email" class="field-label">{{ t.form.email }}</label>
              <input type="email" name="email" id="email" required>
          </div>
        </div>
        <div class="grid__item sm-w-1/2 lg-w-1/3 xs-mrgt">
          <div class="form-group">
            <label for="message" class="field-label">{{ t.form.message }}</label>
            <textarea id="message" name="message" rows="4" required></textarea>
          </div>
          <div class="form-group mrgt">
            <button type="submit" class="btn btn--primary btn--block">{{ t.form.send }}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
