<section class="mrgb++">
  <div class="wrapper">
    <header>
      <h2>{{ t.menu.contact }}</h2>
    </header>
  </div>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2745.4351196083703!2d6.636048551514432!3d46.51929097902516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c2e3455313c2b%3A0x7e2e79e45c5f109c!2sRue+Etraz+4%2C+1003+Lausanne!5e0!3m2!1sen!2sch!4v1443797922143"
    width="100%"
    height="300px"
    frameborder="0"
    style="border:0"
    allowfullscreen
    class="mrgb">
  </iframe>

  <div class="wrapper">
    <form name="contact">
      <div class="gird">
        <div class="grid__item w-1/3 pdgl0">
          <div class="form-group">
              <label for="first_name" class="field-label">{{ t.form.first_name }}</label>
              <input type="text" name="first_name" id="first_name" required>
          </div>
          <div class="form-group">
              <label for="last_name" class="field-label">{{ t.form.last_name }}</label>
              <input type="text" name="last_name" id="last_name" required>
          </div>
          <div class="form-group">
              <label for="name-corporate" class="field-label">{{ t.form.last_name }}</label>
              <input type="text" name="last_name" id="last_name" required>
          </div>
        </div><!--
     --><div class="grid__item w-1/3">
          <div class="form-group">
              <label for="number-people" class="field-label">{{ t.form.last_name }}</label>
              <input type="text" name="last_name" id="last_name" required>
          </div>
          <div class="form-group">
              <label for="phone" class="field-label">{{ t.form.last_name }}</label>
              <input type="text" name="last_name" id="last_name" required>
          </div>
          <div class="form-group">
              <label for="email" class="field-label">{{ t.form.email }}</label>
              <input type="email" name="email" id="email" required>
          </div>
        </div><!--
     --><div class="grid__item w-1/3">
          <div class="form-group">
              <label for="message" class="field-label">{{ t.form.message }}</label>
              <textarea id="message" name="message" rows="4" required></textarea>
          </div>
          <div class="form-group">
              <button type="submit" class="btn button-send">{{ t.form.send }}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
