<section id="lausanne" class="location location--lausanne">
  <div class="mosaic mosaic--responsive mosaic--fixed">
    <div class="mosaic__cell map map--location" data-lat="46.519276" data-lng="6.638259"></div>
    <div class="mosaic__cell box xs-pdg sm-pdg pdgh+ pdgv++">
      <h2 class="location__title">Lausanne</h2>
      <div class="grid grid--large grid--center">
        {% for package in site.data.packages.lausanne %}
          {% if package.enable %}
            <div class="grid__item mrgb lg-w-1/2">
              <a href="#contact" class="packages--contact package pdg">
                <h3 class="package__title mrgt0">{{ package.title }}</h3>
                <p class="mrgb0">{{ package.surface }}</p>
                <p class="mrgb0">{{ package.places[page.lang] }}</p>
                <p>{{ package.furniture[page.lang] }}</p>
                <div class="package__price">
                  CHF {{ package.price }} / {{t.other.month}}
                </div>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
