{% if package.enable %}
  <div class="grid__item mrgb lg-w-1/2">
    <a href="#contact" class="package pdg {% if package.full %}package--full{% endif %}">
      <h3 class="package__title mrgt0">{{ package.title }}</h3>
      <p class="mrgb0">{{ package.surface }}</p>
      <p class="mrgb0">{{ package.places[page.lang] }}</p>
      <p>{{ package.furniture[page.lang] }}</p>
      <div class="package__footer">
        {% if package.full %}
          <div class="package__message text-bold">
            {{ t.full.message }}
          </div>
        {% else %}
          <div class="package__price">
            CHF {{ package.price }} / {{t.other.month}}
          </div>
        {% endif %}
      </div>
    </a>
  </div>
{% endif %}
