<section id="map" class="location location--lausanne">
  <div class="mosaic mosaic--responsive mosaic--fixed">
    <div class="mosaic__cell map map--location" data-lat="46.519276" data-lng="6.638259"></div>
    <div class="mosaic__cell box xs-pdg sm-pdg pdgh+ pdgv++">
      <h2 class="location__title">Lausanne</h2>
      <div class="grid grid--large grid--center">
        {% for package in site.data.packages.lausanne %}
          {% include location-package.html %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
