<section id="members" class="members wrapper pdgt++ pdgb xs-pdgt">
  <header>
    <h2 class="mrgt0">{{ t.menu.members }}</h2>
  </header>

  <div class="grid grid--huge">
    {% for member in site.data.members %}
      <div class="grid__item w-1/2 sm-w-1/3 md-w-1/4 text-center">
        <a href="{{ member.url }}" target="_blank"><img src="{{ "/assets/images/"  | prepend: site.baseurl }}{{ member.logo }}" alt="{{ member.name }}" class="member__logo img-block"></a>
      </div>
    {% endfor %}
  </div>
</section>
