<section class="packages pdgv++">
  <div class="wrapper">
    <header>
      <h2 class="packages__title mrgt0">{{ t.menu.packages }}</h2>
    </header>

    <div class="grid">
      {% for member in site.data.packages %}
        <a href="contact" class="packages--contact"><div class="grid__item mrgb sm-w-1/2 lg-w-1/3">
          <div class="package pdg">
            <h3 class="package__title mrgt0">{{ member.title }}</h3>
            <p class="mrgb0">{{ member.surface }}</p>
            <p class="mrgb0">{{ member.places[page.lang] }}</p>
            <p class="mrgb++">{{ member.furniture[page.lang] }}</p>
            <div class="package__container-price">
              <p class="package__price mrg0 pdg">CHF {{ member.price }} / {{t.other.month}}</p>
            </div>
          </div></a>
        </div>
      {% endfor %}
    </div>
    <div class="benefits">
      <header>
        <h3 class="benefits__title mrgb">{{ t.benefits.title }}</h3>
      </header>
      <div class="grid">
        {% for benefit in site.data.benefits %}
          <div class="grid__item mrgb- sm-w-1/2 lg-w-1/3">
            <div class="benefit">
              <i class="benefit__{{ benefit.slug }}"></i>
              <p class="benefit__name mrgt-- pdgl">{{ benefit.name[page.lang] }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
