@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  .h1 {
    @apply text-4xl tracking-tight font-extrabold leading-none;

    @screen lg {
      @apply text-5xl;
    }
    @screen xl {
      @apply text-6xl;
    }
  }

  h2,
  .h2 {
    @apply text-3xl font-bold leading-none;

    @screen lg {
      @apply text-4xl;
    }
    @screen xl {
      @apply text-5xl;
    }
  }

  h3,
  .h3 {
    @apply text-2xl font-bold leading-none;

    @screen lg {
      @apply text-3xl;
    }
  }

  h4,
  .h4 {
    @apply text-xl font-medium leading-none;

    @screen lg {
      @apply text-2xl;
    }
  }
}

.icon {
  vertical-align: middle;

  position: relative;
  top: -1px;
}
