---
# Only the main Sass file needs front matter (the dashes are enough)
---

$baseUrl: "{{ site.baseurl }}";

@charset "utf-8";

// settings kanbasu
@import
  "settings/kanbasu",
  "kanbasu";

@import
  "base/fonts",
  "base/typography",
  "base/layout",
  "base/shame";

@import
  "components/btn",
  "components/box",
  "components/package";

@import
  "sections/headline",
  "sections/nav",
  "sections/benefits",
  "sections/members",
  "sections/contact",
  "sections/locations";

@import "sprites/icones-benefits";
