/**
 * Component
 * PACKAGE
 */

.package {
  display: block;
  overflow: hidden;

  position: relative;

  background-color: white;
  border: 2px solid $alt-color-light;
  border-radius: $border-radius-default;

  &:hover,
  &:focus {
    color: inherit;
  }
}

.package--full {
  .package__title,
  & p {
    opacity: .3;
  }
}

  .package__title {
    font-weight: bold;
    text-transform: uppercase;
    color: $alt-color-dark;
  }

  .package__footer {
    padding: $spacing-unit-small $spacing-unit-default;
    margin: 0 -#{$spacing-unit-default} -#{$spacing-unit-default};

    background-color: $alt-color-lighter;
  }

  .package__price {
    font-size: $font-size-medium;
  }

  .benefit__name {
    color: $lighten;
    font-weight: bold;
    text-transform: uppercase;
  }
