{% assign t = site.data.translations[page.lang] %}

<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ t.concept }}">
    <meta property="og:url" content="http://thinkspace.ch" />
    <meta property="og:image" content="http://thinkspace.ch/assets/images/og-thinkspace-1.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@liip" />
    <meta name="twitter:creator" content="@liip" />
    <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
  </head>

  <body>
    <header class="fixed-nav">
      <nav class="wrapper">
        <h1 class="logo mrgb0"><span class="thin">Think</span>Space</h1>
        <ul class="list-inline hide-xs pdgr++">
          <li><a href="concept" class="scrollto">{{ t.menu.concept }}</a></li>
          <li><a href="packages" class="scrollto">{{ t.menu.packages }}</a></li>
          <li><a href="members" class="scrollto">{{ t.menu.members }}</a></li>
          <li><a href="contact" class="scrollto">{{ t.menu.contact }}</a></li>
        </ul>

        <div class="locale">
          <ul class="list-inline hide-xs">
          {% for p in site.pages %}
            {% if p.lang %}
              {% if page.lang == p.lang %}
                {% assign active = "active" %}
              {% else %}
                {% assign active = "" %}
              {% endif %}
                <li class="locale_{{ p.lang }} pdgh--"><a href="{{ p.url | prepend: site.baseurl }}" class="{{ active }}">{{ p.lang }}</a></li>
            {% endif %}
          {% endfor %}
          </ul>
        </div>

        <i class="icon icon-burger hidden-sm hidden-md hidden-lg pull-right"></i>
      </nav>
    </header>

    {{ content }}

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript">
      var APP = {
        contact_email: '{{ site.contact_email }}'
      };
    </script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{{ "/assets/javascripts/application.js" | prepend: site.baseurl }}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68300745-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
