/**
 * Base
 * PACKAGES
 */

textarea {
  height: 165px;

  resize: none;
}

#map {
  width: 100%;
  height: 300px;
}

.range-container {
  height: 80px;
}

  input[type=range] {
    width: 85%;
  }

.button-send {
  width: 100%;

  color: $brand-color;

  border: solid $brand-color 2px;
}
