/**
 * Base
 * PACKAGES
 */

.contact {
  position: relative;
}

.contact__title-wrapper {
  width: 100%;
  height: $spacing-unit-huge;

  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba($alt-brand-color, 0.8);

  h2 {
    color: $lighten;
  }
}

address {
  font-style: normal;

  .logo {
    font-size: 20px;
  }
}

.success, .error {
  display: none;

  font-size: $font-size-small-plus;
  font-style: italic;
}

.success {
  color: $success;
}

.error {
  color: $error;
}

textarea {
  height: 135px;

  resize: none;
}

#map {
  width: 100%;
  height: 250px;
}

.range-container {
  height: 80px;
}

  input[type=range] {
    width: 85%;
  }

.button-send {
  width: 100%;

  color: $brand-color;

  border: solid $brand-color 2px;
}
