/**
 * Base
 * PACKAGES
 */

.contact {
  position: relative;
}

.contact__title-wrapper {
  padding-top: $spacing-unit-default;
  padding-bottom: $spacing-unit-default;
  background-color: rgba($alt-brand-color, 0.8);
}

address {
  font-style: normal;

  .logo {
    font-size: 20px;
  }
}

.success,
.error {
  display: none;

  font-size: $font-size-small-plus;
}

.success {
  color: $success;
}

.error {
  color: $error;
}

textarea {
  height: 135px;

  resize: none;
}

#map {
  width: 100%;
  height: 250px;
}
