/**
 * Base
 * HEADLINE
 */

.headline {
  height: 100vh;
  max-height: 100vh;
  min-height: 480px; // minimum height for mobile

  background-size: cover;
  background-position: center;
  background-image: url($baseUrl + '/assets/images/background.jpg');
}

  .headline__title {
    width: 100%;

    font-size: 4vw;
    font-weight: bold;
    color: $alt-color-lighter;

    line-height: 0;

    span {
      display: inline-block;
      padding: $spacing-unit-tiny;

      line-height: 1;

      background-color: rgba($brand-color, .8);

      ~ span {
        margin-top: $spacing-unit-tiny;
      }
    }
  }
    .headline__title-size--small {
      font-size: 2.5vw;
    }

    .headline__title-size--large {
      font-size: 6vw;
    }

  .headline-footer {
    width: 100%;

    color: $alt-color-lighter;
    font-size: rem(24px);
    font-weight: normal;
    line-height: inherit;
    text-transform: uppercase;
    text-align: center;

    position: absolute;
    left: 0;
    bottom: 0;

    background-color: rgba($alt-color-light, .8);

    @media (max-width: $screen-xs-max) {
      font-size: rem(16px);
    }
  }

@media (max-width: $screen-xs-max) {
  .headline {
    background-image: url($baseUrl + '/assets/images/xs-background.jpg');
  }

    .headline__title {
      font-size: 6vw;
    }

    .headline__title-size--small {
      font-size: 4vw;
    }

    .headline__title-size--large {
      font-size: 8vw;
    }
}
