/**
 * Base
 * HEADLINE
 */

.headline {
  height: 92vh;
  // min-height: 1024px;

  background-size: cover;
  background-position: center;
  background-image: url('/assets/images/background-tagline.jpg');
}

  .headline__title {
    width: 100%;
    display: inline-block;

    top: 40%; // override value from Kanbasu for vh-align class

    font-size: $alt-font-size-default;
    font-weight: bold;

    color: $alt-color-lighter;

    span {
      display: inline-block;

      padding: $spacing-unit-tiny;

      background-color: rgba($brand-color, .8);
    }
  }

    .headline__title-size--small {
      font-size: $alt-font-size-small;
    }

    .headline__title-size--large {
      font-size: $alt-font-size-large;
    }

  .headline__footer {
    width: 100%;

    position: absolute;
    left: 0;
    bottom: 0;

    background-color: rgba($brand-color, .8);
  }

    .headline__footer__title {
      font-size: $font-size-medium;
      text-transform: uppercase;

      color: $alt-color-lighter;
    }
