/**
 * Base
 * NAV
 */

.fixed-nav {
  width: 100%;
  height: $spacing-unit-huge;

  position: fixed;
  top: 0;

  z-index: 2;

  background-color: $lighten;
}

nav {
  height: $spacing-unit-huge;

  padding: $spacing-unit-default 0;

  position: relative;

  .logo {
    position: absolute;
    top: 15px;
    left: 0;
  }

  ul {
    position: absolute;
    top: 25px;
    right: 0;
  }
}

  .logo {
    color: $brand-color;

    font-size: $font-size-large;
    font-weight: bold;
    font-style: normal;

    .thin {
      font-weight: normal;
    }
  }

  a {
    color: $alt-color;

    text-decoration: none;
  }

  a.active, a:hover {
    font-weight: bold;
  }

  .locale_fr, .locale_en {
    text-transform: uppercase;
  }

  .locale_en {
    margin-left: 30px;
  }
