/**
 * Base
 * NAV
 */

.fixed-nav {
  width: 100%;
  height: $spacing-unit-huge;

  position: fixed;
  top: 0;

  z-index: 1;

  background-color: $lighten;
}

nav {
  height: $spacing-unit-huge;

  padding: $spacing-unit-default 0;

  position: relative;

  .logo {
    position: absolute;
    top: 15px;
    left: 0;
  }

  @media #{$mq-sm} {
    .logo {
      top: 20px;
    }
  }

  @media #{$mq-xs} {
    .logo {
      top: 21px;
    }
  }

  ul {
    position: absolute;
    top: 30px;
    right: 0;
  }

  @media #{$mq-xs} {
    .hide-xs {
      display: none;
    }

    ul {
      top: 60px;
      left: 0;
    }

      li {
        margin: 20px 0px;
      }

      a {
        font-size: 18px;
      }

    .locale {
      width: 100px;
      position: absolute;
      right: -10px;
      top: 32px;

      li {
        display: inline;

        margin: 0 6px;
      }
    }

    .locale_en {
      margin-left: 0;
    }
  }
}

  .logo {
    color: $brand-color;

    font-size: $font-size-large;
    font-weight: bold;
    font-style: normal;

    .thin {
      font-weight: normal;
    }
  }

  a {
    color: $alt-color;

    text-decoration: none;
  }

  a.active, a:hover {
    font-weight: bold;
  }

  .locale_fr, .locale_en {
    text-transform: uppercase;
  }

  .locale_en {
    margin-left: 30px;
  }

  // increase padding to fit nav item on ipad view
  @media #{$mq-sm} {
    .list-inline > li {
      padding: 0 5px;
    }

    .locale_en {
      margin-left: 0px;
    }
  }

  .icon {
    display: block;

    width: 30px;
    height: 30px;

    position: absolute;
    top: 20px;
    right: 0px;
  }

  .icon-burger {
    background-image: url($baseUrl + '/assets/images/burger-open.png');
  }
