/**
 * Base
 * PACKAGES
 */

.packages {
  position: relative;

  background-image:
    linear-gradient(
      rgba($alt-brand-color, 0.1),
      rgba(darken($alt-brand-color,10%), 1.0)
    ),
    url($baseUrl + '/assets/images/background-packages.jpg');
  background-size: cover;
  background-position: center;

  @media #{$mq-xs} {
    background-image:
      linear-gradient(
        rgba($alt-brand-color, 0.1),
        rgba(darken($alt-brand-color,10%), 1.0)
      ),
      url($baseUrl + '/assets/images/xs-background-packages.jpg');
    background-size: cover;
    background-position: center;
  }
}

  .packages__title {
    color: $lighten;
  }

.package {
  display: block;

  position: relative;

  background-color: $lighten;

  &:hover,
  &:focus {
    color: inherit;
  }
}

.package--disabled {
  pointer-events: none;

  .package__title {
    color: $alt-color-light;
  }
  .package__container-price {
    background-color: $alt-color-light;
  }
}

  .package__title {
    font-weight: bold;
    text-transform: uppercase;
    color: $brand-color;
  }

  .package__container-price {
    width: 100%;

    position: absolute;
    left: 0;
    bottom: 0;

    background-color: $brand-color;
  }

    .package__price {
      font-size: $font-size-medium;
      color: $lighten;
    }

  .benefits__title,
  .benefit__name {
    color: $lighten;
    font-weight: bold;
    text-transform: uppercase;
  }
