/**
 * Base
 * PACKAGES
 */

.packages {
  position: relative;

  background:
  linear-gradient(
    rgba($alt-brand-color, 0.1),
    rgba($alt-brand-color, 0.8) 80%,
    rgba($alt-brand-color, 1.0)
  ),
  url($baseUrl + '/assets/images/background-packages.jpg');
  background-size: cover;
  background-position: center;
}

  .packages__title {
    color: $lighten;
  }

  .package {
    min-height: 281px;

    position: relative;

    background-color: $lighten;
  }

  .package__title {
    font-weight: bold;

    text-transform: uppercase;

    color: $brand-color;
  }

  .package__container-price {
    width: 100%;

    position: absolute;
    left: 0;
    bottom: 0;

    background-color: $brand-color;
  }

    .package__price {
      font-size: $font-size-medium;

      color: $lighten;
    }

  .benefit {
    display: flex;
  }

    .benefit > i, .benefit__name {
      display: inline-block;
    }

    .benefits__title, .benefit__name {
      color: $lighten;

      font-weight: bold;

      text-transform: uppercase;
    }
