/**
 * Base
 * fonts
 */

@font-face {
  font-family: 'Etica';
  src: url('fonts/LFT_Etica_Semibold_Liip.eot');
  src: url('fonts/LFT_Etica_Semibold_Liip.eot?#iefix') format('embedded-opentype'),
       url('fonts/LFT_Etica_Semibold_Liip.otf') format('opentype'),
       url('fonts/LFT_Etica_Semibold_Liip.woff') format('woff'),
       url('fonts/LFT_Etica_Semibold_Liip.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Etica';
  src: url('fonts/LFT_Etica_Book_Liip.eot');
  src: url('fonts/LFT_Etica_Book_Liip.eot?#iefix') format('embedded-opentype'),
       url('fonts/LFT_Etica_Book_Liip.otf') format('opentype'),
       url('fonts/LFT_Etica_Book_Liip.woff') format('woff'),
       url('fonts/LFT_Etica_Book_Liip.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
