/**
 * Base
 * LAYOUT
 */

html {
  font-size: $font-size-default;
  font-family: $font-family-default;
}

.wrapper {
  max-width: 1024px;

  margin: 0 auto;
}

h2 {
  color: $brand-color;

  font-size: $font-size-large;
  font-weight: bold;

  text-transform: uppercase;
}

h3 {
  font-size: $font-size-medium-plus;
}


@media #{$mq-md} {
  html {
    font-size: 15px;
  }

  .wrapper {
    padding: 0 $spacing-unit-default;
  }

  .fixed-nav {
    padding: 0 $spacing-unit-default;
  }
}

@media #{$mq-sm} {
  html {
    font-size: 13px;
  }

  .wrapper {
    padding: 0 $spacing-unit-default;
  }

  .fixed-nav {
    padding: 0 $spacing-unit-default;
  }
}

@media #{$mq-xs} {
  html {
    font-size: 12px;
  }

  .wrapper {
    padding: 0 $spacing-unit-default;
  }

  .fixed-nav {
    padding: 0 $spacing-unit-default;
  }
}
