/**
 * Base
 * LAYOUT
 */

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 $spacing-unit-default;
}

.logo {
  width: 205px;

  @media (max-width: $screen-sm-max) {
    height: 47px;
    width: auto;
  }
}
